@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    background-color: white;
    border: 1px solid rgb(242, 229, 229);
    padding: 8px 15px;
    border-radius: 4px;
    color: rgb(33, 33, 67);
    font-weight: 600;
}